<section class="gridDetails">
    <div class="images flex">
        <div class="mainImage">
            <img src="https://content3.jdmagicbox.com/comp/agartala/v9/9999px381.x381.180224141534.x8v9/catalogue/jagannath-bari-agartala-bazar-agartala-temples-2d3l1g5c29.jpg" alt="" />
        </div>
        <div class="innerDiv flex-reverse">
            <img src="https://content3.jdmagicbox.com/comp/agartala/v9/9999px381.x381.180224141534.x8v9/catalogue/jagannath-bari-agartala-bazar-agartala-temples-2d3l1g5c29.jpg" alt="" />
            <img src="https://content3.jdmagicbox.com/comp/agartala/v9/9999px381.x381.180224141534.x8v9/catalogue/jagannath-bari-agartala-bazar-agartala-temples-2d3l1g5c29.jpg" alt="" />
        </div>
        <!-- <div class="innerDiv flex-reverse">
            <img src="assets/five.png" alt="" />
            <img src="assets/five.png" alt="" />
        </div> -->

    </div>
    

  <div class="detailsHeading">
    <h1>Place Name</h1>
    <h3>location</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis accusamus magnam, consequatur aspernatur veritatis enim quo quos culpa, quae quam laboriosam asperiores. Enim illum numquam modi mollitia expedita sed beatae excepturi maiores ipsam, inventore laudantium ratione exercitationem fugit non voluptate atque in eligendi dolores? Minima aliquid esse repellendus aspernatur, nemo, officia consequuntur, natus mollitia accusamus fugit cupiditate voluptatum beatae nihil!</p>
    <div>
        <span>Visiting hours</span>
        
    </div>
    <div style="display: flex; justify-content: center; padding: 2rem;">
        <a href="/booknow">
            <button mat-button>
                Book Now
            </button>
        </a>
       
    </div>
  </div> 
</section>