<section class="gridDetails" *ngIf="items.length > 0">
    <!-- @for(item of items; track item){ -->
     
    <div class="images flex">
        <div class="mainImage">
            <img [src]="items[0].photos?.photo1" alt="" />
        </div>
        <div class="innerDiv flex-reverse">
            <img [src]="items[0].photos?.photo2" alt="" />
            <img [src]="items[0].photos?.photo3" alt="" />
        </div>
        <!-- <div class="innerDiv flex-reverse">
            <img src="assets/five.png" alt="" />
            <img src="assets/five.png" alt="" />
        </div> -->

    </div>
    

  <div class="detailsHeading">

        <h1>{{items[0].name}}</h1>
        <h3>{{items[0].location}}</h3>
        <p>{{items[0].description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quisquam? Corrupti obcaecati asperiores nobis delectus similique distinctio ipsam officia molestiae eaque, et, dolor blanditiis molestias beatae accusamus numquam itaque sed! Cupiditate architecto, officia ea exercitationem voluptatem quod nobis soluta eveniet. Beatae, mollitia tempore sunt libero excepturi voluptatibus aspernatur odio atque.</p>
        <div>
            <div style="display: flex; justify-content: space-around;">
                <span>Adult: {{items[0].entry_fee.adult}}</span>
                <span>Child: {{items[0].entry_fee.child}}</span>
            </div>
            <span>Visiting hours</span>
            <div>
                Monday: {{items[0].visiting_hours.monday}}
            </div>
            <div>
                Tuesday: {{
                    items[1].visiting_hours.tuesday
                }}
            </div>
            <div>
                Wednesday: {{
                    items[0].visiting_hours.tuesday
                }}
            </div>
            <div>
                Thursday: {{
                    items[0].visiting_hours.tuesday
                }}
            </div>
            <div>
                Friday: {{
                    items[0].visiting_hours.tuesday
                }}
            </div>
            <div>
                Saturday: {{
                    items[0].visiting_hours.tuesday
                }}
            </div>
            <div>
                   Sunday: {{
                    items[0].visiting_hours.tuesday
                }}
            </div>
            
        </div>
        <div style="display: flex; justify-content: center;">
            <a href="/booknow">
                <button mat-button class="btn">
                    Book Now
                </button>
            </a>
           
        </div>
<br />

  
  </div> 
<!-- } -->
</section>