.homePage {
  margin: 1;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .aboutTripura {
      margin-left: 2rem;
      padding: 6rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 2rem;
      p {
        text-align: justify;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
      }
      form {
        // background: yellow;
        width: 100%;
        display: flex;
        justify-content: center;
        .searchSpan {
          display: flex;
          align-items: center;
        }
        input[type="search"] {
          padding: 1.3rem 3.5rem;
          border: 1px solid #ccc;
          border-radius: 25px;
          font-size: 16px;
          width: 700px;
          max-width: 100%;
          box-shadow: none;
        }
        .search {
          position: absolute;
          padding: 1rem;
          font-size: 2rem;
          color: #666;
          cursor: pointer;
        }
      }
    }
    .behindDiv {
      position: absolute;
      opacity: 0.4;
      top: 45rem;
      right: 0;
      left: 53rem;
      width: 350px;
    }
    @media screen and (max-width: 1123px) {
      .behindDiv {
        top: 77rem;
        left: 10rem;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1123px) {
  .flex {
    display: flex;
    flex-direction: column-reverse;
    .aboutTripura {
      p {
        font-weight: 500;
        color: black;
        padding-right: 2rem;
      }
    }
    .imageFront {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 90%;
      }
    }
  }
}

.middle {
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 0;
  h2 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 30px;
    letter-spacing: 5px;
    font-family: designFont;
    font-weight: 400;
  }
  @media screen and (max-width: 768px) {
  }
}

.districtGrid {
  gap: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0rem 16rem;
  grid-template-columns: repeat(3, 1fr);
  .card {
    height: 30vh;
    width: 40vh;
    border-radius: 30px;
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: 100%;
      border: 1pxsolid rgb(0, 0, 0, 0.4);
      background-blend-mode: darken rgba(0, 0, 0, 0.8);
      transition: 0.6s;
    }
    &:hover img {
      transform: scale(1.1);
    }
    .imageOverlay {
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
      transition: 0.5s;
      z-index: 1;
      h5 {
        color: aliceblue;
      }
    }
    &:hover .imageOverlay {
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      background: rgba(183, 176, 176, 0.6);
      opacity: 0.3;
    }
    &:hover .imageOverlay h5 {
      color: black;
      font-weight: 500;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .districtGrid {
    grid-template-columns: none;
    margin: 0 4rem;
    .card {
      height: 35vh;
      width: 50vh;
    }
  }
}

.homePageGrid {
  gap: 2rem;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  img {
    aspect-ratio: 16 / 12;
    padding: 0.2rem;
    height: 30vh;
    width: 100%;
    object-fit: fill;
    border: 1px solid rgb(0, 0, 0, 0.4);
  }
}
@media screen and (max-width: 768px) {
  .homePageGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.imgOverlay {
  position: absolute;
}

.explore {
  position: relative;
  padding: 1rem;

  .sideDiv,
  .rightDiv {
    flex: 1;
    border-radius: 20px;
  }
  .sideDiv {
    border-radius: 25px;
  }
  .box {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid #000;
  }
  #divOne {
    top: 0;
    right: 3rem;
    opacity: 0.8;
  }
  #divTwo {
    top: 40px;
    right: 24rem;
    opacity: 0.7;
  }
  #divThree {
    top: 120px;
    right: 12rem;
    opacity: 1;
  }
  &:hover #divOne {
    transform: scale(0.9);
  }
  &:hover #divTwo {
    transform: scale(1.1);
  }
  &:hover #divThree {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 768px) {
  .explore {
    display: flex;
    flex-direction: column;
    .box {
      display: none;
    }
    .rightDiv {
      display: none;
    }
    .sideDiv img:nth-child(1) {
      padding-right: 1rem;
    }
    .sideDiv img:nth-child(2) {
      width: 100%;
      padding: 1rem;
    }
  }
  .imgOverlay {
    position: absolute;
    right: 0;
    width: 500px;
  }
}
