<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<section>
  <mat-toolbar class="navBar">
    <span>
      <img src="assets/images.png" alt="img" />
    </span>

    <div class="spaceAround"></div>
    <div class="spacingElement">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">
        <button mat-button routerLinkActive="router-link-active">Home</button>
      </a>
      <a [routerLink]="['/places']" routerLinkActive = "router-link-active">
        <button mat-button routerLinkActive="router-link-active">Places</button>
      </a>
      <a [routerLink]="['/signup']" routerLinkActive = "router-link-active">
        <button mat-button routerLinkActive="router-link-active">Signup</button>
      </a>

      <button mat-raised-button (click)="openLoginModal($event)">
        Login
      </button>
    </div>
  </mat-toolbar>
</section>
<section>
  <router-outlet />
</section>
<footer>
  <div class="icons">
    <span>
      <mat-icon>facebook</mat-icon>
      <mat-icon>instagra</mat-icon>
    </span>
  </div>
  <div class="grid">
    <div>
      <h2>Directorate of Tourism</h2>
      <p class="flexSpan">
        <span>icon <span> contact</span></span>
        <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span>
        <span class="flex">
          <span>icon</span>
          <span>+91 9233107174</span>
        </span>
      </p>
    </div>

    <div>
      <h2>Directorate of Tourism</h2>
      <p class="flexSpan">
        <span>icon <span> contact</span></span>
        <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span>
        <span class="flex">
          <span>icon</span>
          <span>+91 9233107174</span>
        </span>
      </p>
    </div>

    <div>
      <h2>Directorate of Tourism</h2>
      <p class="flexSpan">
        <span>icon <span> contact</span></span>
        <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span>
        <span class="flex">
          <span>icon</span>
          <span>+91 9233107174</span>
        </span>
      </p>
    </div>

  </div>
  <span class="lastCopy">Copyright* xLayer Technologies Private Limited 2022</span>
</footer>
