<section>
  <mat-toolbar class="navBar">
    <span>
      <img src="assets/images.png" alt="img" />
    </span>

    <div class="spaceAround"></div>
    <div class="spacingElement">
      <button mat-button>HOME</button>
      <button mat-button>PLACES</button>
      <button mat-button>SIGNUP</button>
    </div>
  </mat-toolbar>
</section>
<section>
  <router-outlet />
</section>
<footer>
  <div class="icons">
    <span>
      <mat-icon>facebook</mat-icon>
      <mat-icon>instagra</mat-icon>
    </span>
  </div>
  <mat-grid-list cols="3" rowHeight="15vh">
    <mat-grid-tile cols="1">
      <div>
        <h2>Directorate of Tourism</h2>
        <p class="flexSpan">
          <span>icon <span> contact</span></span>
          <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span>
          <span class="flex">
            <span>icon</span>
            <span>+91 9233107174</span>
          </span>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <div>
        <h2>Directorate of Tourism</h2>
        <p class="flexSpan">
          <span>contact <span>contect</span></span>
          <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span>
          <span class="flex">
            <span>icon</span>
            <span>+91 9233107174</span>
          </span>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <div>
        <h2>Directorate of Tourism</h2>
        <p class="flexSpan">
          <span>contact <span>contect</span></span>
          <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span>
          <span class="flex">
            <span>icon</span>
            <span>+91 9233107174</span>
          </span>
        </p>
      </div>
    </mat-grid-tile>


  
    
  </mat-grid-list>
  <span class="lastCopy">Copyright* xLayer Technologies Private Limited 2022</span>
</footer>
