.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  
    .login-card {
      max-width: 400px;
      width: 100%;
      padding: 20px;
  
      form {
        display: flex;
        flex-direction: column;
  
        h2 {
          text-align: center;
          margin-bottom: 20px;
        }
  
        .field {
          margin-bottom: 20px;
  
          label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
          }
  
          input[type="email"],
          input[type="password"] {
            width: 100%;
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
          }
  
          .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
          }
        }
  
        .submit-button {
          width: 100%;
          margin-top: 10px;
          padding: 1rem;
        }
  
        .login-link {
          margin-top: 10px;
          text-align: center;
  
          a {
            color: #007bff; /* Bootstrap's primary color */
            text-decoration: none;
            cursor: pointer;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  